<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <h1 class="user-form-title">Publicá una película nueva</h1>
    <form class="user-form" action="/movies/create" method="POST">
        <div>
            <input type="text" name="title" id="title" required placeholder=" ">     
            <label for="title">Título de la película</label>      
        </div>   
        <div>
            <input type="number" id="rating" name="rating" required placeholder=" ">
            <label for="rating">Rating</label>
        </div>
        <div>
            <input type="number" id="awards" name="awards" required placeholder=" " value="0">
            <label for="awards">Premios</label>
        </div>
        <div>
            <input type="date" id="release_date" name="release_date" required placeholder=" " value="0">
            <label for="release_date">Fecha de estreno</label>
        </div>
        <div>
            <input type="number" id="length" name="length" required placeholder=" " value="0">
            <label for="length">Duración (en minutos)</label>
        </div>

        <button type="submit" class="submit-button">Publicar</button>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>