<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <h1 class="user-form-title">Parece que esta página no existe</h1>
    <%- include('partials/footer') %> 
</body>
</html>