<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <ul>
            <li><a href="/movies/">Pelicula</a></li>
        </ul>
    </main>

    <%- include('partials/footer') %> 
</body>
</html>