<footer>
    <div class="copyright">
        <h4><a href="/terms">Términos y condiciones</a></h4>
        <h4><a href="/privacy">Cómo cuidamos tu privacidad</a></h4>
        <p>Notflix Argentina</p>
        <p>Calle Falsa 123, Springfield</p>

    </div>
</footer>