<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notflix</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45c142d7bc.js" crossorigin="anonymous" async></script>
    <meta name="Description" content="Sitio de peliculas y series">
    <meta name="theme-color" content="red"/>
</head>